Name: <input id='friend-name' type='text'>
		<br>
		Hometown: <input id='friend-hometown' type='text'>
		<br>
		How you met: <input id='friend-meeting' type='text'>
		<br>
		<button id='friend-data-submit'>Submit</button>

		<button id='delete-all-button'>I hate my friends. Get rid of them all.</button>

	<ul id='friend-list'>
	</ul>