body {
	background-color: teal;
	font-family: 'verdana';
}

.hobbies {
	background-color: blue;
	border: 1px solid red;
	color: white;
	/*position: relative moves the element relative to its starting point*/
	/*position: absolute is relative to the page*/
	/*position: fixed is relative to the browser*/
	position: fixed;
	top: -10px;
	left: 75px;
}

img#duck {
	float: right;
	width: 200px;
	height: 200px;
}

.clear {
	clear: both;
}

ul li {
	background-color: green;
	/*default dislpay for li tags is block*/
	display: inline;
	/*inline means only take up as much space as it needs*/
	display: inline-block;
	/*inline block is the best of both worlds*/
	padding: 20px;
	margin: 40px;
}

/*dot means we are looking for the class green*/
.green {
	color: green;
}

/*hash tag will look for an id*/
#burgundy {
	color: maroon;
}

/* the media query is a way to retrain CSS rules to a specific situation*/
/* Below, we are restricting it to widths between 800 pixels and 1100 pixels*/
@media (min-width: 800px and max-width: 1100px) {
	img#duck {
		transform: rotate(45deg);
	}
}

/* And here we are setting rules for any pages that are 800 pixels wide or lower--usually mobile, and some tablets*/
@media (max-width: 800px) {
	img#duck {
		transform: rotate(-45deg);
		float: none;
		display: block;
	}

	ul li {
		display: block;
		margin: 10px;
	}

}
